<div class="row">
    <div class="col s4">
    	<h3>Trailers</h3>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    </div>
    <div class="col s4">
    	<h3>Funny</h3>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    </div>
   	<div class="col s4">
   		<h3>Cricket</h3>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    <video src="https://www.youtube.com/watch?v=GCvipxfEnJY" controls></video>
    </div>
</div>